<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.CityMapper">
    <select id="queryCityById" resultType="com.example.mybatisdemo.entity.City">
        select id, name, countryCode, district, population
        from city
        where id =#{id};
    </select>

    <update id="updateCity">
        update city
        <set>
            <if test="name !=null and name!='' ">
                name=#{name},
            </if>
            <if test="district !=null and district!='' ">
                district=#{district},
            </if>
            <if test="population !=null and population!='' ">
                population=#{population}
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>
